@font-face {
  font-family: 'Fredericka the Great';
  src: local('Open Sans'), local('OpenSans'),
    url('../../fonts/FrederickatheGreat-Regular.ttf') format('truetype');
}

body {
  margin: 0;
  background-color: #fff;
}

.main-container {
  margin-top: 10px;
}

@media screen and (min-width: 768px) {
  .main-container {
    padding: 0 15px;
  }
}

.ui.menu {
  margin-bottom: 0;
}
