@font-face {
  font-family: 'Fredericka the Great';
  src: local('Open Sans'), local('OpenSans'),
    url('../../fonts/FrederickatheGreat-Regular.ttf') format('truetype');
}

body {
  margin: 0;
  background-color: lightgrey;
}
